<h2>Edit Session</h2>
<%= erb('sessions/sessions_nav'.to_sym)  %>
<form class="session-add" action="/sessions" method="post">
  <label for="session-start-time">Start Time</label>
  <input id="session-start-time" type="text" name="start_time" value="<%= @session.start_time %>">

  <label for="session-end-time">End Time</label>
  <input id="session-end-time" type="text" name="end_time" value="<%= @session.end_time %>">

  <label for="session-capacity">Capacity</label>
  <input id="session-capacity" type="number" name="capacity" min="1" value="<%= @session.capacity %>">

  <!-- gym class -->
  <select class="session-gym-classes" name="gym_class_id">
    <% @gym_classes.each do |gym_class| %>
    <% if gym_class.id == @session.gym_class_id %>
    <option value="<%= gym_class.id %>" selected><%= gym_class.name %></option>
    <% else %>
    <option value="<%= gym_class.id %>"><%= gym_class.name %></option>
    <% end %>
    <% end %>
  </select>

  <!-- instructor  -->
  <select class="session-instructor" name="instructor_id">
    <% @instructors.each do |instructor| %>
    <% if instructor.id == @session.instructor_id %>
      <option value="<%= instructor.id %>" selected><%= instructor.pretty_name %></option>
      <% else %>
      <option value="<%= instructor.id %>"><%= instructor.pretty_name %></option>
      <% end %>
    <% end %>
  </select>

  <!-- room -->
  <select class="session-room" name="room_id">
    <% @rooms.each do |room|  %>
    <% if room.id == @session.room_id %>
      <option value="<%= room.id %>" selected><%= room.name %></option>
      <% else %>
      <option value="<%= room.id %>"><%= room.name %></option>
      <% end %>
    <% end %>
  </select>

  <input type="submit" name="submit" value="Add New Session">
</form>
