<nav>
  <ul>
    <li><a href="/sessions">Back to all Sessions</a></li>
  </ul>
</nav>
<h2><%= @gym_class.name %> <span class='link-text'>on</span> <%= @session.date %> <span class='link-text'>at</span> <%= @session.start %></h2>

<div id="session-gym-class">
  <div id="session-class-group">
    <div id="session-gym-class-description">
      <% @gym_class.description_paras().each do |para| %>
      <p class="description-para"><%= para %></p>
      <% end  %>
    </div>

  <h3>Booked <span class='spaces-available'><%= @session.space_count %> Spaces Avaialble</span></h3>
  <form class="members-booked" action="/sessions/show/<%= @session.id %>/<%= @gym_class.id %>/remove/persons" method="post">


    <div id="session-gym-class-booked">
      <% @counter = 0 %>
      <% @session.booked().each do |booked| %>
      <div class="person-booked">

        <input id="person-<%= booked.person.id %>" class="booked-person-check" type="checkbox" name="persons[remove][]" value="<%= booked.person.id %>">

        <img class="person-booked-image" src="/member_images/<%= booked.person.photo_url %>"/>
        <p><%= booked.person.pretty_name%></p>
        <p><%= booked.date_time_added %></p>
      </div>
      <%  @counter += 1 %>
      <% end %>

      <% while @counter < @session.capacity %>

      <div class="person-booked">
        <img class="person-booked-image" src="/member_images/free.jpg"/>
        <p>&nbsp;</p>
        <p>space</br>&nbsp;</p>
      </div>

      <% @counter += 1 %>
      <% end %>

  </div>
  <input id="remove-btn" type="submit" name="submit" value="Remove From Class">
  </form>

  <h3 id="reserve-header">Reserve</h3>
    <div id="session-gym-class-reserve">
      <% @session.reserve().each do |reserve| %>
      <div class="person-reserve">
        <img class="person-reserve-image" src="/member_images/<%= reserve.person.photo_url %>"/>
        <p><%= reserve.person.pretty_name%></p>
        <p><%= reserve.date_time_added %></p>
      </div>
      <% end %>
    </div>


  </div>

  <div id="session-person">
    <h3>Find a Member</h3>

    <p id="session-person-message"><%= @message %></p>

    <form class="find-person" action="/sessions/show/<%= @session.id %>/<%= @gym_class.id %>/person_id" method="get">
      <input type="text" name="person_id_find">
      <input type="submit" name="submit" value="Find">
    </form>

    <% if @person != nil %>
    <form class="session-person-form" action="/sessions/show/<%= @session.id %>/<%= @gym_class.id %>/<%= @person.id %>" method="post">
      <img id="found-person-img" src="/member_images/<%= @person.photo_url %>" >
      <p id="person-name"><%= @person.pretty_name %></p>
      <p id="membership-start-date"><span class="date-label">Start:</span> <%= @person.membership.pretty_start_date%></p>
      <p id="membership-end-date"><span class="date-label">End:</span> <%= @person.membership.pretty_end_date%></p>
      <p id="membership-membership-type"><span class="membership-label">Membership Type: </span><%= @person.membership.type.name.upcase %></p>
      <input type="submit" name="submit" value="Book Member in Session">
    </form>

    <% else %>
      <!-- <p>No Member with that ID can be found</p>
      <p>Please enter a valid Member ID</p> -->
    <% end %>

  </div>
  <%= @params_inspect %>


</div>
