<h2>Edit Membership Type</h2>
<%= erb('membershiptypes/membershiptypes_nav'.to_sym)  %>
<form class="membershiptype-form" action="/membershiptypes/<%= @membershiptype.id %>" method="post">

  <label for="membershiptype-name"></label>
  <input id="membershiptype-name" type="text" name="name" value="<%= @membershiptype.name %>">

  <label for="membershiptype-description"></label>
  <input type="text" name="description" value="<%= @membershiptype.description %>">

  <input type="submit" name="delete" value="DELETE Membership Type ⚠️" formaction="/membershiptypes/<%= @membershiptype.id %>/delete">

  <input type="submit" name="submit" value="Update Membership Type">
</form>
